@media screen and (max-width: 414px) and (min-width: 320px) {
  .sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: calc(98.5vh - 50px);
    background-color: #fbfbff;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }
  .sidebar .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  .sidebar .sidebarWrapper .sidebarMenu {
    margin-bottom: 10px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarTitle {
    font-size: 13px;
    color: #bbbaba;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList {
    list-style: none;
    padding: 5px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem {
    padding: 8px 5px;
    margin: 6px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem .sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .logout {
    color: red;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem.active,
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem:hover {
    background-color: #f0f0ff;
  }
  .sidebar-none {
    display: none;
  }
}

@media screen and (max-width: 669px) and (min-width: 414px) {
  .sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: calc(98.5vh - 50px);
    background-color: #fbfbff;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }
  .sidebar .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  .sidebar .sidebarWrapper .sidebarMenu {
    margin-bottom: 10px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarTitle {
    font-size: 13px;
    color: #bbbaba;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList {
    list-style: none;
    padding: 5px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem {
    padding: 8px 5px;
    margin: 6px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem .sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .logout {
    color: red;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem.active,
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem:hover {
    background-color: #f0f0ff;
  }
}

@media screen and (min-width: 670px) {
  .sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: calc(98.5vh - 50px);
    background-color: #fbfbff;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
  }
  .sidebar .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  .sidebar .sidebarWrapper .sidebarMenu {
    margin-bottom: 10px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarTitle {
    font-size: 13px;
    color: #bbbaba;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList {
    list-style: none;
    padding: 5px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem {
    padding: 8px 5px;
    margin: 6px 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem .sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .logout {
    color: red;
  }
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem.active,
  .sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem:hover {
    background-color: #f0f0ff;
  }
}
/*# sourceMappingURL=sidebar.css.map */