@media screen and (max-width: 960px){
    .homeWidgets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }
}

@media screen and (min-width: 960px){
    .homeWidgets{
        display: flex;
        margin: 20px;
    }
}