.con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:  0;
}

.title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 10px 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 13px;
  border-radius: 10px;
}
.btn:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn-primary {
  background: none;
  border: none;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}

.modal {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media(width:1024px){
    .modal-dialog{
        max-width: 70%;
    }
}
.modal-content{
    border-radius: 0.7rem;
}
.modal-header img{
    width: 100px;
}
.modal-title{
    margin-left:auto;
    margin-right: auto;
}
.modal-header{
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 4vh;
}
.modal-footer{
    border-top: none;
}
button:active{
    outline: none;
}
button:focus{
   outline: none;
}
.modal-body{
    text-align: center;
    padding: 16px;
}
.title{
    font-size: 17px;
    color: grey;
}
@media(min-height:768px)and(min-width:411px){
    .title{
        font-size: 20px;
        color: grey;
    }
}

form{
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
  .input-group {
    position: relative;
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .extra{
      padding-bottom: 4vh;
      color: rgb(143, 141, 141);
     font-size:13px;
  }
  .extra a{
    color: rgb(143, 141, 141);
    font-size:13px;
  }
  .col{
      padding: 2vh 10px 4vh;
  }
  .new{
      padding-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .modal {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
  }
  .btn--pill {
      padding: 9px 30px;
      font-weight: bold;
      background-color: #1a00c4;
      color: white;
      border: none;
      border-radius: 8px;
  }
  .btn--pill:hover {
      background-color: #180590;
      color: white;
      border: none;
      cursor: pointer;
  }